@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic/centurygothic.ttf');
}
@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothic/centurygothic_bold.ttf');
}

* {
  font-family: 'CenturyGothic', sans-serif;
}
body {
    background-color: #E5E5E5;
}

.accent {
    color: #782A48 !important;
}
.page__header {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
}
.page__desc {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: flex-end;
    color: #392D32;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    background: #4A1A2C;
    border: 1px solid #782A48;
    box-sizing: border-box;
}
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 15px;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list__item {
    margin-right: 25px;
    position: relative;
}
.nav__list__item:last-child{
    margin-right: 0;
}
.nav__list__item:hover.nav__list__item::after {
    opacity: 1;
}
.nav__list__item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 18px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.nav__link {
    font-family: CenturyGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.header {

}
.header__wrapper{

}
.header .container{
    padding: 196px 0 157px;
    box-sizing: border-box;
}
.header__title {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 122%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #392D32;
    display: block;
    margin-bottom: 15px;
}
.header__wrapper:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 63px;
}

.wrapper:first-child {
    margin-right: 30px;
}
.title__span {
    display: block;
}
.title__span:nth-child(2) {
    margin-left: 85px;
}
.title__span:last-child {
    margin-left: 280px;
}

.header__wrapper:nth-child(2) {
    border-top: 1px solid #782A48;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    padding-top: 30px;   
}
.header__wrapper:nth-child(2) .wrapper:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    margin-bottom: 48px;
}
.company-goals__header {
    /* margin-right: 130px; */
    width: 270px;
    display: block;
}
.company-goals__desc {
    max-width: 770px;
    font-family: CenturyGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #393939;
}
.header__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    list-style-type: none; 
	counter-reset: num;
}
.header__list__item {
    max-width: 370px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #393939;
}
.header__list__item::before{
    content: counter(num);
    counter-increment: num;
    font-family: CenturyGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #4A1A2C;
    display: block;
}

.about {
    background-color: #4A1A2C;
}
.about .container {
    padding: 105px 0 100px;
}
.about__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 45px;
}
.about__header {

}
.about__desc {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
    max-width: 770px;
}
.about__wrapper__item {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    flex-direction: column;
    max-width: 270px;
}
.about__wrapper__item:last-child {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 370px;
}
.about__wrapper__item:last-child .about__item__desc{
    border-left: 4px solid #fff;
    padding-left: 11px;
}
.about__item__header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-transform: uppercase;
}
.about__item__num {
    font-style: normal;
    font-weight: bold;
    font-size: 170px;
    line-height: 208px;
    letter-spacing: -9px;
    color: #FFFFFF;
}
.about__item__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.services {

}
.services .container {
    padding: 150px 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: unset;
}
.services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
}
.services__desc {
    max-width: 870px;
}
.services__panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 869px;
}
.services__panel__item {
    border-top: 1px solid #782A48;
    padding: 30px 0;
}
.services__panel__item:last-child {
    border-bottom: 1px solid #782A48;
}
.services__panel__item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel__item__header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #4A1A2C;
}
.panel__item__label {
    position: relative;
    cursor: pointer;
}
.panel__item__icon {
    transition: transform 0.3s ease-in-out;
}
.open {
    transform: rotate(44deg);
}
.panel__item__list {
    list-style-type: disc !important;
    display: block;
    position: relative;
    left: 15px;

    opacity: 0;
    max-height: 0;
    -moz-transition: opacity .3s, max-height .3s, padding-top .3s;
    -ms-transition: opacity .3s, max-height .3s, padding-top .3s;
    transition: opacity .3s, max-height .3s, padding-top .3s;
}
.expanded {
    max-height: 100px;
    opacity: 1;
    padding-top: 30px;
}
.panel__item__list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #393939;
    margin-bottom: 15px;
}

.stages {
    background-color: #4A1A2C;
}
.stages .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.stages__header{

}
.stages__schema{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 30px 0 45px;
    box-sizing: border-box;
}
.stages__schema__img{
}
.stages__schema__icon{
    position: absolute;
}
.stages__schema__svg {
    position: absolute;
}
.stages__schema__item text {
    font-style:normal;
    font-weight:bold;
    font-size:40px;
    line-height:1.25;
    font-family: 'CenturyGothic';
    fill:#782A48;
    stroke:none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}
.stages__schema__item path {
    fill: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.stages__schema__item:hover path,
.stages__schema__item:hover text
{
    opacity: 1;
}
.stages__wrapper {
    position: relative;
    width: 470px;
    height: 115px;
}
.stages__item {
    position: absolute;
    display: none;
}
.stages__item__header {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.stages__item__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.customers {

}
.customers .container {
    padding: 150px 0; 
}
.customers__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
}
.customers__desc {
    max-width: 870px;
}
.customers__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.customers__list__item{
    height: 100px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(120, 42, 72, 0.2);
    border-right: 1px solid rgba(120, 42, 72, 0.2);
}
.customers__list__item:nth-child(5),
.customers__list__item:nth-child(10) {
    border-right: none;
}
.customers__list__item:nth-child(n+6) {
    border-bottom: none;
}

.advantages {
    background-color: #4A1A2C;
}
.advantages .container {
    padding: 100px 0;
}
.advantages__header {
    margin-bottom: 40px;
}
.advantages__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.advantages__item {
    max-width: 370px;
}
.advantages__item__icon {
    display: block;
    margin-bottom: 15px;
}
.advantages__item__header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.item__list__line {
    height: 2px;
    border: none;
    background-color: #fff;
    margin-bottom: 14px;
}
.advantages__item__list {
    list-style-type: disc;
    position: relative;
    left: 15px;
}
.advantages__item__list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.feedbacks {

}
.feedbacks .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 150px 0;
    border-bottom: 1px solid rgba(120, 42, 72, 0.4);
}
.feedbacks__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.slider__controlls {

}
.slider__controll:first-child {
    margin-right: 15px;
}
.slider {

}
.slider__item {
    max-width: 870px;
    display: none;
}
.slider__item.current {
    display: block;
}
.slider__item__header {
    font-family: CenturyGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 122%;

    color: #4A1A2C;
    position: relative;
    margin-bottom: 35px;
}
.slider__item__header::before {
    content: '';
    display: inline-block;
    width: 49px;
    height: 37px;
    background-image: url('../img/quotation.svg');
    position: absolute;
    left: -60px;
    top: 10px;
}
.slider__item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.slider__item__img__container {
    width: max-content;
    height: 166px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
}
.slider__item__img {
    object-fit: contain;
}
.slider__item__img__icon {
    position: absolute;
    bottom: 0;
    right: 0;
}
.slider__item__wrapper> .slider__item__wrapper {
    flex-direction: column;
    align-items: flex-end;
}
.slider__item__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #393939;
    margin-bottom: 27px;
}
.slider__item__author {
    border-top: 1px solid #782A48;
    padding-top: 5px;
    max-width: 242px;
}
.author__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-align: right;
}
.author__company {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    text-align: right;

    color: #393939;
}

.contacts {

}
.contacts .container {
    padding: 30px 0 142px;
    position: relative;
}
.contacts__header {
    margin-bottom: 30px;
}
.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.contacts__wrapper__container {
    max-width: 340px;
    padding-left: 105px;
}
.contacts__wrapper__container__item {
    margin-bottom: 25px;
}
.contacts__wrapper__container__item__header {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 5px;
    position: relative;
    text-transform: uppercase;
}
.contacts__wrapper__container__item__header::before {
    content: '';
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -5px;
}
.contacts__wrapper__container__item:first-child .contacts__wrapper__container__item__header::before {
    background-image: url('../img/phone.svg');
}
.contacts__wrapper__container__item:nth-child(2) .contacts__wrapper__container__item__header::before {
    background-image: url('../img/mail.svg');
}
.contacts__wrapper__container__item:last-child .contacts__wrapper__container__item__header::before {
    background-image: url('../img/point.svg');
}
.contacts__wrapper__container__item__main {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #4A1A2C;
    text-decoration: none;
}
.contacts__wrapper__container__item:last-child .contacts__wrapper__container__item__main {
    font-size: 24px;
    line-height: 130%;
}
.contacts__wrapper__form {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}
.contacts__wrapper__form__header {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #393939;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.contacts__wrapper__form__label {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    color: #979797;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.contacts__wrapper__form__input {
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #979797;
    width: 570px;
    background: none;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
}
.contacts__wrapper__form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.personal-data__check {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: black;
}
.personal-data {
    display: flex;
    align-items: center;
    max-width: 245px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #333333;
}
.submit {
    padding: 14px 73px;
    background: none;
    border: 1px solid #782A48;
    box-sizing: border-box;

    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 120%;
    text-transform: uppercase;
    color: #782A48;
    cursor: pointer;
}
#marquee {
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 120%;
    /* AccentColour */
    color: #4A1A2C;
    margin-bottom: 150px;
}

.footer {
    background-color: #4A1A2C;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer__wrapper{
    width: 100%;
    border-bottom: 1px solid #782A48;
    padding-bottom: 15px;
}
.footer__wrapper__last {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
}
.footer__header {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer__wrapper__list {
    display: flex;
    align-items: baseline;
}
.footer__wrapper__list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    margin-right: 25px;
}
.footer__wrapper:nth-child(2) .footer__wrapper__list__item {
    width: 171px;
}
.footer__wrapper__list__item__link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    color: #FFFFFF;
}
.copy {
    margin: 0 266px 0 91px;
}
.pdp {
    text-decoration: none;
}
.to-top {
    position: absolute;
    bottom: -285px;
    right: 45px;
    cursor: pointer;
}

.mobile {
    padding: 20px 15px;
    position: relative;
    display: none;
}
.nav__mobile__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    width: 25px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
}
.burger__item {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: white;
}
.expanded-menu {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 19px 15px 90px 0;
    background: #4A1A2C;
    position: fixed;
    width: 99%;
    top: 0;
    left: 0;
    transform: translateY(-1000px);
    transition: transform 0.3s ease-in-out;
}
.menu__close {
    align-self: flex-end;
}
.menu__item {
    text-decoration: none;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.menu__item:last-child {
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 34px;
}
.menu__active {
    /* display: ; */
    transform: translateY(0);
}
.header__img__mobile {
    display: none;
    width: 100%;
    object-fit: contain;
}
.about__wrapper__mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
}
.mobile__about__item__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.mobile__slider__controlls {
    display: flex;
    margin-bottom: 38px;
}
.controll {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.4;
}
.controll:first-child {
    margin-right: 10px;
}
.controll__active {
    opacity: 1;
}
.wrapper__item__mobile {
    display: none;
}
.mobile__controlls {
    display: none;
    margin-top: 20px;
}
.feedbacks__header {
    margin-bottom: 30px;
}
.footer__mobile__line {
    display: none;
}